<section class="container-fluid container-footer mt-16">
  <div class="container-footer-01">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="fw-bold text-primary">Contacto</h3>
        
          <ul class="list-unstyled mt-5">
            <li>
              <h5 class="d-flex">
                <img src="./media/img/phone.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Teléfono: (+57) 300-780-7103</p>
              </h5>
            </li>

            <li>
              <h5 class="d-flex">
                <img src="./media/img/email.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Email: info@oginternational.com.co</p>
              </h5>
            </li>
            
            <li>
              <h5 class="d-flex">
                <img src="./media/img/location.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Dirección: Ibagué Tolima, Mza 26 casa 12 Santa Ana</p>
              </h5>
            </li>

            <li>
              <div class="row justify-content-center">
                <div class="col-xxl-9 col-lg-8 col-md-12">
                  <h6>
                    &copy; Copyright Opening Gates International 2023. Todos los derechos reservados. &middot; 
                    <a href="./terminos.php" style="color: #5BC0BE;">Terminos y condiciones</a>
                  </h6>
                </div>
              
                <div class="col hstack gap-4 justify-content-center">
                  <a href="https://www.facebook.com/profile.php?id=61555209716146" target="_blank" class="text-white">
                    <img src="./media/img/facebook.png" />
                  </a>

                  <a href="https://www.instagram.com/ogi.europa?igsh=MW41NDdxNWRrd3d1Zw==" target="_blank" class="text-white">
                    <img src="./media/img/instagram.png" />
                  </a>

                  <a href="https://twitter.com/gates_opening" target="_blank" class="text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                      <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                    </svg>
                  </a>
                  
                  <a href="https://wa.me/573007807103" target="_blank" class="text-white">
                    <img src="./media/img/whatsapp.png" />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
