<section class="container-fluid container-footer mt-16">
  <div class="container-footer-01">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="fw-bold text-primary">Contacto</h3>
        
          <ul class="list-unstyled mt-5">
            <li>
              <h5 class="d-flex">
                <img src="./media/img/phone.png" width="25" height="25" class="mr-1" alt="" />
                <div>Teléfono: (+57) 300-780-7103</div>
              </h5>
            </li><br>

            <li>
              <h5 class="d-flex">
                <img src="./media/img/email.png" width="25" height="25" class="mr-1" alt="" />
                <div>Email: info@opengatesinternational.com</div>
              </h5>
            </li><br>
            
            <li>
              <h5 class="d-flex">
                <img src="./media/img/location.png" width="25" height="25" class="mr-1" alt="" />
                <div>Dirección: Ibagué Tolima, Mza 26 casa 12 Santa Ana</div>
              </h5>
            </li><br>

            <li>
              <div class="row justify-content-center">
                <div class="col-xxl-10 col-lg-9 col-md-12">
                  <h5>
                    &copy; Copyright Open Gates International 2023. Todos los derechos reservados. &middot; 
                    <a href="./terminos.php" style="color: #5BC0BE;">Terminos y condiciones</a>
                  </h5>
                </div>
              
                <div class="col hstack gap-5 justify-content-center mt-sm-5">
                  <a href="https://www.facebook.com/LuciStudiosWeb/?ref=pages_you_manage" target="_blank" class="text-white">
                    <img src="./media/img/facebook.png" />
                  </a>

                  <a href="https://www.instagram.com/lucistudiosweb/?hl=es-la" target="_blank" class="text-white">
                    <img src="./media/img/instagram.png" />
                  </a>
                  
                  <a href="https://wa.me/573134612651" target="_blank" class="text-white">
                    <img src="./media/img/whatsapp.png" />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>