<section class="container-fluid container-footer mt-16">
  <div class="container-footer-01">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="fw-bold text-primary">Contacto</h3>
        
          <ul class="list-unstyled mt-5">
            <li>
              <h5 class="d-flex">
                <img src="./media/img/phone.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Teléfono: (+57) 300-780-7103</p>
              </h5>
            </li>

            <li>
              <h5 class="d-flex">
                <img src="./media/img/email.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Email: info@oginternational.com.co</p>
              </h5>
            </li>
            
            <li>
              <h5 class="d-flex">
                <img src="./media/img/location.png" width="20" height="20" class="mr-1" alt="" />
                <p class="h6">Dirección: Ibagué Tolima, Mza 26 casa 12 Santa Ana</p>
              </h5>
            </li>

            <li>
              <div class="row justify-content-center">
                <div class="col-xxl-9 col-lg-8 col-md-12">
                  <h6>
                    &copy; Copyright Opening Gates International 2023. Todos los derechos reservados. &middot; 
                    <a href="./terminos.php" style="color: #5BC0BE;">Terminos y condiciones</a>
                  </h6>
                </div>
              
                <div class="col hstack gap-4 justify-content-center">
                  <a href="https://www.facebook.com/profile.php?id=61555209716146" target="_blank" class="text-white">
                    <img src="./media/img/facebook.png" />
                  </a>

                  <a href="https://www.instagram.com/gates_opening?utm_source=qr&igsh=MTR0Y2xzZ2J2ZG1ibA==" target="_blank" class="text-white">
                    <img src="./media/img/instagram.png" />
                  </a>

                  <a href="https://twitter.com/gates_opening" target="_blank" class="text-white icon-x">
                    <img src="./media/img/x-twitter.svg" width="21" />
                  </a>
                  
                  <a href="https://wa.me/573007807103" target="_blank" class="text-white">
                    <img src="./media/img/whatsapp.png" />
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>